@import '../mediainfo-variables.less';

.wbmi-add-property {
	.wbmi-max-container-width();
}

.wbmi-entityview-add-statement-property-input {
	width: 100%;

	/* stylelint-disable-next-line selector-class-pattern */
	.wbmi-input-widget__input.oo-ui-textInputWidget {
		max-width: none;
	}
}

.wbmi-entityview-add-statement-property-button {
	margin-top: @wbmi-spacing-base;
}

.wbmi-entityview-add-statement-property-container {
	display: flex;
	margin-top: @wbmi-spacing-base;
}
