@import '../mediainfo-variables.less';

.wbmi-depicts-input {
	margin: @base-spacing 0;

	// increased specificity is required to override default OOUI
	// inputWidget margin styles for the wbmi-depicts-input element.
	/* stylelint-disable-next-line selector-class-pattern */
	&.oo-ui-inputWidget {
		margin-right: 0;
	}
}

.wbmi-statement-footer {
	margin-top: 1em;
	font-weight: bold;
	font-size: 0.9em;

	// adds a &bull; between all visible siblings
	> *:not( .wbmi-hidden ) ~ *:before {
		content: '\2022'; // &bull;
		padding: 0 10px;
		color: @base0;
		cursor: initial;
		display: inline-block;
		text-decoration: none;
	}

	.wbmi-statement-remove {
		color: @color-destructive;
		text-decoration: none;
	}

	.wbmi-statement-learn-more {
		color: @color-primary;
	}
}
