@import 'mediawiki.mixins';

// color palatte: https://meta.wikimedia.org/wiki/Wiki_color_formatting_help#WikimediaUI_color_palette_(M82)

.wbmi-item-container {
	border: 1px solid #eaecf0;
	font-size: 0.9em;
	line-height: 1em;

	a {
		color: #36c;
	}

	width: 100%;
	display: inline-block;
}

.wbmi-entity-title:not( .wbmi-statements-header ) {
	padding: 15px;
	background-color: #f8f9fa;
}

h4.wbmi-entity-label {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	line-height: inherit;
}

.wbmi-entity-label-extra {
	font-weight: normal;
	float: right;

	.wbmi-entity-primary {
		font-weight: bold;

		&.wbmi-entity-is-primary {
			color: #72777d;

			/* stylelint-disable-next-line selector-class-pattern */
			.oo-ui-iconElement {
				min-height: 15px;
				height: 15px;
				background-size: 70%;
				filter: opacity( 0.55 );
			}
		}
	}

	a {
		margin: 0 10px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

/*
 * Show and hide the textual values (read mode), or the properties dropdown &
 * value input field (edit) depending on the mode we're in.
 */
.wbmi-item-read .wbmi-qualifier > *:not( .wbmi-qualifier-value ),
.wbmi-item-edit .wbmi-qualifier > .wbmi-qualifier-value {
	/* stylelint-disable-next-line declaration-no-important */
	display: none !important;
}

.wbmi-item {
	.wbmi-qualifier > .wbmi-qualifier-value {
		line-height: 30px;
		margin-bottom: 0;
		display: inline-block;
	}

	.wbmi-item-content {
		padding: 15px;
		padding-bottom: 10px;

		// some messing around to get those quirky little leading lines to show
		// below block will draw a vertical line that starts inside the title box
		// down to the end of this content node, at 10px from the left border
		position: relative;
		&:before {
			content: ' ';
			position: absolute;
			border-left: 1px solid #979797;
			top: -5px;
			bottom: 25px; // 10px padding-bottom + 15px margin-bottom of that last element
		}
	}

	// this block adds leading lines starting at the vertical line we just drew
	// and going in the direction of the elements that'll follow it (on the right)
	.wbmi-item-qualifier-add:before,
	.wbmi-qualifier:before {
		content: ' ';
		width: 10px;
		border-bottom: 1px solid #979797;
		display: inline-block;
		margin-right: 10px;
		// middle-align the line, and then push it up slightly (because the elements
		// that it aligns with have some (0.5em) margin-bottom, so the middle would
		// appear to be slightly lower because of that whitespace
		vertical-align: middle;
		margin-bottom: 0.3em;
	}

	&.wbmi-item-read .wbmi-qualifier:last-child:before,
	.wbmi-item-qualifier-add:last-child:before {
		// ...HOWEVER! the very last element (the 'add qualifier' button) should
		// not have a middle-aligned line: we need a fixed, deterministic end
		// position, because we need it to match the end of the vertical line...
		vertical-align: bottom;
		margin-bottom: 15px;
	}
}

.wbmi-item-qualifier-add {
	font-weight: normal;
}

.wbmi-item-edit .wbmi-item-container {
	// preserve some space for the delete icon/button
	// 2px = 2x 1px of border
	// 35px = the width of the delete icon
	// (escaped to prevent LESS from incorrectly calculating)
	width: ~'calc( 100% - 2px - 35px )';
}

// read-mode adjustments
.wbmi-item-read {
	.wbmi-item-container {
		border: 1px solid #fff;
	}

	.wbmi-item-content {
		background-color: #f8f9fa;
		padding-top: 0;
		padding-bottom: 0;

		.wbmi-item-content-group:not( :empty ) {
			padding-bottom: 10px;
		}
	}
}

// undo one of the borders if the box is adjacent to another one - we don't
// need 2 borders (the first one's bottom and the second's top border)
.wbmi-item + .wbmi-item .wbmi-item-container {
	border-top: 0;
}

span.wbmi-item-remove {
	width: 35px;
	vertical-align: top;
	padding-top: 5px;
}

a.wbmi-entity-link {
	font-weight: normal;
	color: #36c;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: left center;

	&-foreign-repo-wikidata,
	&-foreign-repo-wd {
		.background-image-svg( '../Wikidata-logo-small.svg', '../Wikidata-logo-small.png' );
	}
}
