@import '../mediainfo-variables.less';

.wbmi-link-notice {
	.wbmi-max-container-width();
	margin-bottom: @wbmi-spacing-base;

	& &__dismiss-icon {
		display: flex;
		height: 100%;
		position: absolute;
		right: @wbmi-spacing-sm;
		top: 0;
	}
}
