@import '../mediainfo-variables.less';

.wbmi-link-notice {
	margin-bottom: @base-spacing;
	max-width: 800px; // TODO: fix this

	& &__dismiss-icon {
		display: flex;
		height: 100%;
		position: absolute;
		right: @sm-spacing;
		top: 0;
	}
}
