.wbmi-qualifier {
	display: inline-block;

	/* property dropdown */
	/* stylelint-disable-next-line selector-class-pattern */
	.oo-ui-dropdownWidget {
		width: 14em;
	}

	/* value input field */
	/* stylelint-disable-next-line selector-class-pattern */
	.oo-ui-inputWidget {
		width: 20em;
	}

	/* stylelint-disable-next-line selector-class-pattern */
	.wbmi-qualifier-remove .oo-ui-iconElement-icon {
		background-size: 70%;
	}
}
