@import 'mediawiki.mixins';
@import './../../../mediainfo-variables.less';

/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */
.wbmi-tabs {
	&__header {
		.box-shadow( inset 0 -1px 0 0 @border-color-base );
		.flex-display();
		align-items: flex-end;
		justify-content: space-between;

		// Add gradient to suggest to users that they can scroll horizontally to
		// see more tabs.
		&--gradient {
			position: relative;

			&:after {
				.horizontal-gradient( rgba( 255, 255, 255, 0), rgba( 255, 255, 255, 1), 85%, 100% );
				background-color: transparent;
				content: '';
				height: 100%;
				left: 0;
				pointer-events: none;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}
		}
	}

	// When the viewport width is narrower than the tab list, horizontal
	// scrolling is activated via overflow-x (with the scrollbar hidden).
	&__tabs-list {
		.flex-display();
		// Use momentum-based scrolling in iOS.
		-webkit-overflow-scrolling: touch;
		// Auto-hide scrollbar in IE/Edge.
		-ms-overflow-style: -ms-autohiding-scrollbar;
		// Add horizontal scroll when needed.
		overflow-x: auto;
		// Hide scrollbar in Firefox.
		scrollbar-width: none;

		// Hide scrollbar in Safari.
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			display: none;
		}

		&:focus {
			outline: 0;

			.wbmi-tabs__tabs-list__item.is-active {
				border-radius: 2px;
				box-shadow: inset 0 0 0 2px @color-primary;
			}
		}

		&__item {
			color: @color-base--subtle;
			cursor: pointer;
			font-weight: bold;
			margin: @wbmi-margin-vertical-base @wbmi-margin-horizontal-mobile 0 0;
			padding: @wbmi-padding-vertical-mobile @wbmi-padding-horizontal-base;
			transition: color 100ms, box-shadow 100ms;
			// Don't wrap text since we're using horizontal scrolling.
			white-space: nowrap;

			@media screen and ( min-width: @width-breakpoint-tablet ) {
				margin: @wbmi-margin-vertical-base @wbmi-margin-vertical-base 0 0;
				padding: @wbmi-padding-vertical-base @wbmi-padding-horizontal-base;
			}

			&:hover,
			&.is-active {
				color: @color-primary;
				.box-shadow( inset 0 -2px 0 0 @color-primary );
			}

			&:hover {
				color: @color-primary--hover;
				.box-shadow( inset 0 -2px 0 0 @color-primary--hover );
			}

			&.is-disabled {
				color: @color-base--disabled;
				cursor: not-allowed;

				&:hover,
				&.is-active {
					color: @color-base--disabled;
					box-shadow: unset;
				}
			}
		}
	}
}
