.filepage-mediainfo-entitytermsview {
	padding-top: 0.6em;
}

.filepage-mediainfo-entitytermsview h3 {
	border-bottom: 1px solid #a2a9b1;
	padding: 0.8em 0.8em 0.4em 1em;
	font-size: 1em;
	margin: 0;
}

.filepage-mediainfo-entitytermsview h3 .editButton {
	float: right;
}

.filepage-mediainfo-entitytermstable {
	padding: 1em 2em;
	width: 100%;
}

.filepage-mediainfo-entitytermstable td {
	margin: 0;
	border-right: 0;
	border-bottom: 1px solid #c8ccd1;
	padding: 0.8em 0;
	vertical-align: top;
}

.filepage-mediainfo-entitytermstable.editable td {
	border-bottom: 0;
}

.filepage-mediainfo-entitytermstable tr:last-of-type td {
	border: 0;
	padding-bottom: 1em;
}

.filepage-mediainfo-entitytermstable td.language {
	padding-right: 2em;
}

.filepage-mediainfo-entitytermstable td.caption {
	width: 85%;
}

.filepage-mediainfo-entitytermstable td.caption .textInput {
	float: left;
	width: 94%;
}

.filepage-mediainfo-entitytermstable td.caption .deleter {
	float: left;
}

/* T208849: Style empty captions as WMUI's @color-placeholder === @wmui-color-base30 */
.filepage-mediainfo-entitytermstable td.wbmi-empty {
	color: #72777d;
}

.filepage-mediainfo-entitytermstable tr.entity-terms div.error {
	padding: 0.2em 0.5em;
	font-size: 0.9em;
	font-weight: bold;
	float: left;
	clear: left;
}

.filepage-mediainfo-entitytermstable tr.entity-terms div.warning {
	padding: 0.2em 0.5em;
	font-size: 0.9em;
	font-weight: bold;
	float: left;
	clear: left;
}

.editActions .addMore {
	float: left;
}

.editActions .addMore label {
	padding-top: 0.2em;
}

.editActions .cancelAndPublish {
	float: right;
}

.editActions .cancel {
	float: left;
	padding-right: 0.8em;
}

.editActions .publish {
	float: right;
}

/* Some OOUI styles are loaded inline - add some here to prevent FOUC */
.oo-ui-panelLayout-framed {
	border: 1px solid #a2a9b1;
	border-radius: 2px;
}
