.wb-mediainfo {
	&.wikibase-entityview {
		float: none;
	}

	.wikibase-entitytermsforlanguagelistview-aliases,
	.wikibase-entitytermsforlanguageview-aliases,
	.wikibase-entitytermsview-aliases {
		display: none;
	}

	.wikibase-entitytermsforlanguagelistview .wikibase-entitytermsforlanguagelistview-header .wikibase-entitytermsforlanguagelistview-header-row .wikibase-entitytermsforlanguagelistview-description {
		border-right: 0;
		width: 60%;
	}
}
