@import 'mediawiki.mixins';

/* Clear content after the entity view because it transitively floats */
.wbmi-entityview + * {
	clear: both;
}

/* Old name for cache back-compatibility */
/* stylelint-disable-next-line selector-class-pattern */
.filepage-mediainfo-entitytermsview,
.wbmi-entityview-content,
.wbmi-entityview-statementsGroup {
	padding-top: 0.6em;
	float: left;
	clear: both;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 2em;

	h3 {
		border-bottom: 1px solid #a2a9b1;
		padding: 0.8em 0.8em 0.4em 1em;
		font-size: 1em;
		margin: 0 0 1.4em 0;

		.wbmi-entityview-editButton {
			float: right;
			margin-top: -0.75em;
			margin-right: -0.25em;
		}
	}

	.wbmi-entityview-viewMoreButton,
	.wbmi-entityview-viewLessButton,
	.wbmi-entityview-entitycontent,
	.wbmi-entityview-editActions
	{
		padding: 0.8em 0;
		border: 0;
		margin: 0 4%;
		vertical-align: top;
		float: left;
		clear: both;
		width: 92%;
	}

	.wbmi-entityview-entitycontent {
		&:not( :last-child ) {
			border-bottom: 1px solid #c8ccd1;
		}

		.wbmi-language-label {
			float: left;
			min-width: 9em;
			width: 18%;
			padding-right: 4%;
			height: 100%;
			text-align: left;
		}

		.wbmi-caption-value {
			float: left;
			min-width: 9em;
			width: 78%;

			.wbmi-caption-textInput {
				width: 90%;
				float: left;
			}

			.wbmi-caption-deleteButton {
				float: left;
			}
		}

		div.wbmi-caption-publishError {
			padding: 0.2em 0.5em;
			font-size: 0.9em;
			font-weight: bold;
			float: left;
			clear: left;
		}

		div.wbmi-caption-publishWarning {
			padding: 0.2em 0.5em;
			font-size: 0.9em;
			font-weight: bold;
			float: left;
			clear: left;
		}
	}

	.wbmi-entityview-editActions {
		.wbmi-entityview-addCaptionButton {
			float: left;

			label {
				padding-top: 0.2em;
			}
		}

		.wbmi-entityview-cancelAndPublishButtons {
			float: right;

		}
	}

	&.wbmi-entityview-editable .wbmi-entityview-entitycontent {
		border-bottom: 0;
	}

	/* T208849: Style empty captions as WMUI's @color-placeholder === @wmui-color-base30 */
	.wbmi-entityview-emptyCaption {
		color: #72777d;
	}
}

.wbmi-entityview-statementsGroup {
	padding-bottom: 2em;
}

.wbmi-entityview-statement {
	vertical-align: top;
	clear: both;
	width: 100%;

	> div {
		padding: 0.8em 1em;
		margin: 0 1em;
		background-color: #f8f9fa;
		border: 2px solid #fff;
	}

	.wbmi-entityview-statement-qualifier {
		font-size: 95%;
		padding: 1em 0 0 1em;
	}

	.wbmi-statement-no-value,
	.wbmi-statement-some-value {
		color: #808080;
	}

	.wbmi-statement-error {
		color: #f00;
	}
}

.wbmi-entityview-statementsGroup-header h4 {
	padding: 0.8em 1em 0.4em 1em;
	font-size: 1em;
}

a.wbmi-entity-link {
	float: right;
	font-weight: normal;
	color: #36c;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-size: 20px auto;

	&-foreign-repo-wikidata,
	&-foreign-repo-wd {
		.background-image-svg('Wikidata-logo-small.svg', 'Wikidata-logo-small.png');
	}

}

/* Some OOUI styles are loaded inline - add some here to prevent FOUC */
/* stylelint-disable-next-line selector-class-pattern */
.oo-ui-panelLayout-framed {
	border: 1px solid #a2a9b1;
	border-radius: 2px;
}
