@import 'mediawiki.mixins';
@import '../../mediainfo-variables.less';

.wbmi-media-search-end-of-results {
	font-size: 1.2em; // match h3 font size
	font-weight: bold;
	margin: 0 auto;
	max-width: 30rem;
	padding: @wbmi-spacing-base;
	text-align: center;

	&__tips {
		display: block;
		font-weight: normal;
	}
}
