@import 'mediawiki.mixins';
@import '../../../mediainfo-variables.less';

.wbmi-page-result {
	border-bottom: @border-width-base @border-style-base @wbmi-border-color-result;
	max-width: @wbmi-max-width-base;
	padding: @wbmi-spacing-base-px * 0.75 0;

	&:last-child {
		border-bottom: 0;
	}

	h3 {
		margin: 0;
		padding: 0;
	}

	p {
		color: @color-base--subtle;
		display: inline-block;
		margin: 0;
	}

	&__title {
		.flex-display();
		align-items: center;
	}

	&__namespace {
		background-color: @wbmi-background-color-namespace-label;
		margin-right: 0.5em;
		padding: 0 0.5em;
	}
}
