@import 'mediawiki.mixins';
@import '../../mediainfo-variables.less';
@import './mediainfo-filepage-mixins.less';

// Statements panel
// ---------------------------------------------------------
.wbmi-entityview-statementsGroup {
	@panel();

	// Panel cancel/publish buttons
	.wbmi-entityview-cancelAndPublishButtons {
		text-align: right;
	}

	// separate multiple statement groups
	+ .wbmi-entityview-statementsGroup {
		margin-top: @base-spacing;
	}

	// indication that we don't support editing of the statement
	// (because we haven't implemented an interface for editing this type of property value)
	// '...-undefined' line here for BC, can be removed when feature flag
	// MediaInfoEnableOtherStatements is removed
	&.wbmi-entityview-statementsGroup-undefined:not( .wbmi-entityview-editable ),
	&.wbmi-entityview-statementsGroup-unsupported:not( .wbmi-entityview-editable ) {
		opacity: 0.5;
	}
}
